.container{
    margin-bottom: 70px;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-btn{
    border: none;
    background-color: black;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
}
p{
    color: dimgray;
}
.smartphone, .laptop{
    text-align: center;
    margin-top: 40px;
}
.see-all{
    color: orange;
}

.card{
    padding: 25px;
    border: none;
    box-shadow: 5px 5px 15px gray;
    border-radius: 10px;
}

.card-footer{
    background-color: white;
    border-top: none;
}

.category{
    box-shadow: 5px 5px 10px lightslategray;
    border-radius: 5px;
    padding: 15px;
}